@charset "UTF-8";
body, html {
  width: 100%;
  height: 100%;
  background-image: url("../image/bj.jpg");
  overflow: hidden; }

.main-map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*顶部横条 ==== START*/
  /*顶部横条 ==== END*/
  /*左侧菜单====START*/
  /*左侧菜单====END*/
  /*右侧列表 === START*/
  /*右侧列表 === END*/ }
  .main-map .div-1 {
    position: absolute; }
  .main-map .map-top {
    width: 55%;
    height: 6vh;
    border: 1px solid #0bb8f0;
    background-color: #f5faff;
    top: 0;
    right: 0; }
    .main-map .map-top table {
      width: 100%;
      height: 6vh; }
      .main-map .map-top table tr {
        width: 100%;
        height: 100%; }
        .main-map .map-top table tr td {
          white-space: nowrap;
          width: 12.5%;
          height: 100%;
          text-align: center;
          padding: 3px; }
          .main-map .map-top table tr td span {
            padding: 0 1px; }
          .main-map .map-top table tr td .top-icon {
            width: 3vh;
            height: 3vh; }
          .main-map .map-top table tr td .top-wz {
            font-size: 1.5vh;
            position: relative;
            top: 2px; }
  .main-map .map-left {
    top: 0;
    left: 0;
    width: 14%;
    height: 100%;
    background-color: #f5faff !important;
    border-right: 1px solid #62f5f7;
    overflow-y: scroll;
    overflow-x: hidden; }
    .main-map .map-left .left-div {
      width: 100%;
      height: auto; }
      .main-map .map-left .left-div .left-title {
        width: 100%;
        height: 5vh;
        line-height: 5vh;
        text-align: center;
        background-image: linear-gradient(to top, #0db9f1, #6cfcf8);
        color: #203296;
        font-size: 1.6vh; }
        .main-map .map-left .left-div .left-title .left-search-icon {
          margin-right: 1vh; }
          .main-map .map-left .left-div .left-title .left-search-icon img {
            width: 3vh; }
        .main-map .map-left .left-div .left-title .left-updown-icon {
          float: right;
          margin-right: 10px;
          cursor: pointer; }
          .main-map .map-left .left-div .left-title .left-updown-icon img {
            width: 2vh; }
      .main-map .map-left .left-div .left-content .left-input {
        width: 100%;
        height: 5vh;
        line-height: 5vh;
        padding: 5px; }
        .main-map .map-left .left-div .left-content .left-input input {
          width: 92%;
          height: 3.8vh;
          margin: 0 auto;
          background-color: #e8f0f5;
          border: 1px solid #acbbc4;
          padding-left: 3px; }
        .main-map .map-left .left-div .left-content .left-input .input-icon {
          width: 3.2vh;
          height: 3.2vh;
          position: relative;
          top: -5.2vh;
          font-size: 1.5vh;
          left: 83%; }
      .main-map .map-left .left-div .left-content .gongge-table {
        width: 100%; }
        .main-map .map-left .left-div .left-content .gongge-table table {
          width: 96%; }
          .main-map .map-left .left-div .left-content .gongge-table table tr {
            width: 100%; }
            .main-map .map-left .left-div .left-content .gongge-table table tr td {
              width: 33.33%;
              text-align: center;
              padding: 8px; }
              .main-map .map-left .left-div .left-content .gongge-table table tr td .left-icon {
                width: 6vh;
                height: 6vh; }
              .main-map .map-left .left-div .left-content .gongge-table table tr td .mc {
                text-align: center;
                font-size: 1.5vh;
                margin-top: 10px; }
      .main-map .map-left .left-div .left-content .left-search-btn {
        width: 100%;
        height: 5.5vh;
        text-align: center; }
        .main-map .map-left .left-div .left-content .left-search-btn img {
          max-height: 5vh; }
      .main-map .map-left .left-div .left-content ul {
        width: 100%; }
        .main-map .map-left .left-div .left-content ul li {
          width: 100%;
          padding: 6px;
          white-space: nowrap;
          border-bottom: 1px solid #cccccc; }
          .main-map .map-left .left-div .left-content ul li span {
            display: inline-block;
            font-size: 1.4vh; }
          .main-map .map-left .left-div .left-content ul li .li-span-1 {
            width: 10%; }
            .main-map .map-left .left-div .left-content ul li .li-span-1 img {
              width: 2vh;
              position: relative;
              top: -1vh; }
          .main-map .map-left .left-div .left-content ul li .li-span-2 {
            width: 50%; }
            .main-map .map-left .left-div .left-content ul li .li-span-2 div:nth-child(1) {
              color: #203296; }
          .main-map .map-left .left-div .left-content ul li .li-span-3 {
            width: 40%; }

/*# sourceMappingURL=map.css.map */
