body,html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/*头部样式 ============ START*/
.layui-layout{
    width: 100%;
    height: 100%;
}
.layui-header{
    width: 100%;
    height: 10.4%;
    position: absolute;
}

.layui-layout-admin .layui-header{
    background-image: url("../img/topbj.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.layui-layout-left{
    left: 40%;
}

.mainpage-top{
    margin-top: 0.8vh;
}
.mainpage-top .layui-nav-item-name{
    line-height: 2.5vh;
}
.mainpage-top .layui-nav-item{
    width: 11vh;
    line-height: 6vh;
    text-align: center;
    padding: 5px;
}

.mainpage-top .firstment-active{
    background-color: rgba(0,0,0,0.2);
}

.mainpage-top .layui-nav-item-img{
    width: 6vh;
    height: 6vh;
    margin: 0 auto;
}

.mainpage-top .layui-nav-item-name{
    font-size: 1.4vh;
}
.mainpage-top .layui-nav-item-img img{
    width: 100%;
}

.mainpage-top .layui-nav-bar{
    display: none !important;
}
.useraction{
    bottom: 2vh;
    top:5vh;
}

.useraction li{
    line-height: 6vh !important;
    margin-right: 1.5vh;
}

.useraction .layui-nav-bar{
    display: none;
}
/*头部样式 ============ END*/
/*左侧菜单树====START*/
.main-main .layui-side{
    width: 12%;
}

.left-menu{
    top:10.4% !important;
    height: 89.6%;
    background-color: #f5faff !important;
    border-right: 1px solid #62f5f7;
    transition: all 1s ease-in-out;
    overflow: hidden;
}

.left-menu .layui-nav-tree, .left-menu .layui-side-scroll{
    width: 100%;
}

.left-menu .layui-nav {
    background-color: #f5faff !important;
    color:#333333;
}

.left-menu .layui-nav-tree .layui-nav-item{
    border-bottom: 1px solid #dae3ec;
}

.left-menu .layui-nav-tree .layui-nav-item .leftmenu-icon {
   width: 2.5vh;
    height: 2.5vh;
}
.left-menu .layui-nav-tree .layui-nav-item a{
    color: #333333;
}
.left-menu .layui-nav-tree .layui-nav-item a:hover {
    background-image: linear-gradient(to top, #0db9f1, #6cfcf8);
}

.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this > a, .layui-nav-tree .layui-this > a:hover {
    background-image: linear-gradient(to top, #0db9f1, #6cfcf8);
}

.layui-nav-tree .layui-nav-item a:hover, .layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this > a, .layui-nav-tree .layui-this > a:hover {
    background-image: linear-gradient(to top, #0db9f1, #6cfcf8);
}

.left-menu .layui-nav-itemed{
    background-image: linear-gradient(to top, #0bbdf1, #0f77fc);
}

.left-menu .layui-nav-itemed .layui-nav-child{
    background-color: #f5faff !important;
}

.left-menu .layui-nav-itemed .layui-nav-child a{
    padding-left: 30px;
    color: #333333;
}

.left-menu .layui-nav .layui-nav-more{
    border-top-color:#333333;
}

.left-menu .layui-nav .layui-nav-mored, .left-menu .layui-nav-itemed > a .layui-nav-more{
    margin-top: -9px;
    border-style: dashed dashed solid;
    border-color: transparent transparent #f9f3f3;

}

.left-menu .layui-nav-bar{
    display: none;
}
.menu-show-hide{
    position: fixed;
    left: 12%;
    top: 50%;
    width: 1.5vh;
    height: 4vh;
    border: 1px solid #40ddf5;
    border-radius: 0 10px 10px 0;
    text-align: left;
    line-height: 4vh;
    cursor: pointer;
    transition: all 1s ease-in-out;
    z-index: 10;
}


.menu-show-hide img{
    width: 70%;
}
/*左侧菜单树====END*/
/*主体内容===START*/
.main-centers{
    height: 89.6%;
}

.main-main .layui-body{
    top:10.4%;
    width: 88%;
    transition: all 1s ease-in-out;
    z-index: 9;
    left: 12%;
}

.main-centers .layui-nav-item-iframeAction{
    width: 4vh;
    height: 4vh;
    position: absolute;
    right:0;
    top:0;
    z-index: 15;
    border: 2px solid #f6f6f6;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.main-centers .layui-nav-item-iframeAction-actiion{
    width: 14vh;
    position: absolute;
    right: 0;
    top: 4vh;
    z-index: 15;
    border: 1px solid #e2e2e2;
    background-color: #fff;
    transition: all 1s ease-in-out;
    display: none;
}

.main-centers .layui-nav-item-iframeAction-actiion ul{
    display: block;
    list-style-type: disc;
    text-align: center;
    padding: 8px 0;
}

.main-centers .layui-nav-item-iframeAction-actiion ul li:hover{
    background-color: rgba(0,0,0,0.1);
}

.main-centers .layui-nav-item-iframeAction-actiion ul li.kit-item {
    line-height: 35px;
    cursor: pointer;
    color: #393D49;
}

.main-centers .layui-nav-item-iframeAction-actiion .kit-line {
    border-bottom: 1px solid #e2e2e2;
}
/*主体内容===END*/
